/* font related styles */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

@import url('https://fonts.cdnfonts.com/css/miama');

body{
  font-family: "Inter", sans-serif;
  background: black;

}
p{
  color: rgba(239, 237, 232, 0.65);
}

/* default styles */
*{
  margin: 0;
  color: white;
  
}

.container{
  width: 75%;
  max-width: 1440px;
  margin: 5rem auto;
}

.btn-primary{
  border-radius: 42px;
  background-color: rgb(230, 83, 60);
  width: 224px;
  height: 54px;
  gap: 8px;
  padding: 0.7rem 1.2rem;
  border: none;
  font-size: 18px;
  font-weight: 600;
  margin-top: 18px;
}

/* header related styles */
header{
  /* background: linear-gradient(180.00deg, rgb(17, 17, 17),rgba(119, 119, 119, 0) 100%); */
  background-repeat: no-repeat;
  background-size: cover;
  height: 90%;
  width: 100%;
}


/* nav related styles */

.nav-bar{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu{
  display: flex;
  justify-content: space-evenly;
  gap: 47px;
}

.nav-menu span{
  border-radius: 46px;
  background: rgb(230, 83, 60);
  padding: 8px 20px 8px 20px;
}

.brand-name{
  color: rgb(230, 83, 60);
  font-style: italic;
  font-size: 36px;
  font-weight: 800
}

.hum-burger{
  display: none;
}

/* banner related styles */
.banner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner h1{
  width: 520px;
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 78px;
  font-weight: 900;
  line-height: 120%;
  text-align: left;
}

.banner h1 span{
  font-family: Miama;
  font-weight: 400;
  font-size: 78px;
}

button{
  border-radius: 42px;
  width: 224px;
  height: 54px;
  margin-left: 1rem;
  padding: 0.7rem 1.2rem;
  font-size: 18px;
  font-weight: 600;
  border: 1px solid white;
  background: none;
}

.banner-btn{
  padding-top: 28px;
}

.banner-text p{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  width: 520px;
  padding-top: 28px;
  
}

.video-tutorial {
  display: flex;
  align-items: center;
  justify-content: center;
  justify-items: center;
  gap: 10px ;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  width: 12rem;
  height: 6rem;
  position: absolute;
  top: 70%;
  left: -20%;
}

.video-tutorial h4{
  font-size: 24px;
  font-weight: 900;
}

.video-tutorial p{
  font-size: 16px;
  font-weight:400;
}

.banner-image{
  position: relative;
}

.free-Workout-video{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  backdrop-filter: blur(20px);
  background: rgba(48, 48, 48, 0.54);
  width: 12rem;
  height: 6rem;
  position: absolute;
  top: -300%;
  left: 150%;
  justify-content: center;
  justify-items: center;
}


.free-Workout-video h4{
  font-size: 40px;
  font-weight: 900;
}

/* Change Your Habit Section */


 .change-habit-text h1{
  font-size: 48px;
  font-weight: 900;
  text-align: center;
 }

 .change-habit-text p{
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  margin-top: 1rem;
 }

 .change-habit-image img{
  border-radius: 50%;
  border: 3px  solid #686D76;
  backdrop-filter: blur(20px);
 }

 .change-habit-image{
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  justify-items: center;
  align-items: center;
  margin-top: 3rem;
 }

 .change-habit-image h4{
  font-size: 18px;
  font-weight: 600;
  margin-top: 2rem;
  text-align: center;
 }

 .change-habit-image p{
  font-size: 14px;
  font-weight: 400;
  width: 231px;
  margin-top: 6px;
  text-align: center;
 }

 /* Run Extra Mile */

.run-extra-miles{
  border-radius: 18px;
  background: rgb(34, 34, 34);
  display: flex;
  justify-content: space-between;
  max-width: 1440px;
  height: 371px;

}

.run-extra-mile-text h1{
  font-size: 48px;
  font-weight: 900;
  width: 443px;
 }

 .run-extra-mile-text p{
  font-size: 14px;
  font-weight: 400;
  width: 443px;
  
 }

 .run-extra-mile-text{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 55px;
  gap: 30px ;
 }
 
 .run-extra-miles img{
  width: 366px;
  height: 312px;
  border-radius: 18px;
  padding: 30px 30px 30px 0;
  object-fit: none;
  object-position: 65% 28%;
 }


 /* Trainings and Exercises */
 .trainings-exercises h1{
  font-size: 48px;
  font-weight: 900;
 }

 .trainings-exercises p{
  font-size: 14px;
  font-weight: 400;
 }

 .trainings-exercises img{
  width: 100%;
  height: 218px;
 }

 .row-1{
  display: grid;
  grid-template-columns: 0.75fr 1.50fr 1fr;
  
}

 .row-2{
  display: grid;
  grid-template-columns: 1.50fr 1.10fr 1.40fr;
  
}

.exercise-card{
  position: relative;
  background: rgba(6, 255, 210, 0.5), url(./images/exercise1.jpg) ;
}

.exercise-name-1{
  position: absolute;
  top: 80%;
  left: 15%;  
  color: white;
  transform: translate(-50%,-50%);
}

.exercise-name-2{
  position: absolute;
  top: 10%;
  left: 15%;  
  color: white;
  transform: translate(-50%,-50%);
}

.exercise-name-3{
  position: absolute;
  top: 80%;
  left: 15%;  
  color: white;
  transform: translate(-50%,-50%);
}

/* BMI Calculator */

.bmi-calculator-text{
  width: 671px;
  margin-left: 25rem;
  
}
.bmi-calculator-text h1{
  font-size: 48px;
  font-weight: 900;
}

.bmi-calculator-text p{
  font-size: 14px;
  font-weight: 400;
}

table,th,td{
  border: 2px solid gainsboro;
  border-collapse: collapse;
  padding: 15px 30px;
}



input,
select{
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  width: 283px;
  height: 48px;
  padding: 0 0.5rem;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  font-size: 16px;
  margin: 0.4rem;
}

.select-sex{
  width: 300px;
}

.activity-factor{
  color: rgba(255, 255, 255, 0.6);
  height: 48px;
  width: 615px;

}

.bmi-calculator-chart, .chart-table, .bmi-title{
  margin-top: 50px;
}

.bmi-calculator-main{
  background: rgb(34, 34, 34);
  display: flex;
  justify-content: space-evenly;
  justify-items: center;
  margin-top: 5rem;

}

.calculator-inputs, .bmi-title p{
  margin-top: 14px;
}




/* Responsive Styles */

@media screen and (max-width:600px) {
  .nav-menu{
    display: none;
  } 

  .hum-burger{
    display: block;
  }

  .hum-burger i{
    font-size: 26px;
  }

  .container{
    margin: 3rem auto;
  }

p{
  font-size: 16px;
}

.banner-text h1{
  font-size: 45px;
  width: 100%;
}

.banner-text p{
  width: 274px;
}



}